WebApplication11/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RatingServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddRatingRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRatingRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRatingRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRatingRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRating_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRating" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRating_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRating" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRatingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByMember_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByMember" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_printReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:printReviews" />
  </wsdl:message>
  <wsdl:message name="IService1_printReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:printReviewsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddRatingRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRatingRecord" message="tns:IService1_AddRatingRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRatingRecordResponse" message="tns:IService1_AddRatingRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRating" message="tns:IService1_DeleteRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRatingResponse" message="tns:IService1_DeleteRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateRating" message="tns:IService1_UpdateRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateRatingResponse" message="tns:IService1_UpdateRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchByMember" message="tns:IService1_SearchByMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchByMemberResponse" message="tns:IService1_SearchByMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchByProduct" message="tns:IService1_SearchByProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchByProductResponse" message="tns:IService1_SearchByProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="printReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/printReviews" message="tns:IService1_printReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/printReviewsResponse" message="tns:IService1_printReviews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRatingRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/AddRatingRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByMember">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchByMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printReviews">
      <soap:operation soapAction="http://tempuri.org/IService1/printReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RatingServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>